<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.1/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         executionOrder="depends,defects"
         forceCoversAnnotation="true"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         verbose="true">
    <testsuites>
         <testsuite name="allTests">
            <file>Money/tests/MoneyTest.php</file>
            <file>Kata/tests/KataConvertTest.php</file>
            <file>Basket/tests/BasketTest.php</file>
            <file>Bowling/tests/BowlingTest.php</file>
            <file>Logger/tests/LoggerTest.php</file>
            <file>Logger/tests/DBAdapterTest.php</file>
            <file>Lift/tests/LiftTest.php</file>
            <file>Wardrobe/tests/WardrobeTest.php</file>
            <file>Wardrobe/tests/CombinationTest.php</file>
        </testsuite>
        <testsuite name="default">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
